@import "../App.css";

/* ITEM */

#item {
    width: 500px;
    height: 500px;
    flex-shrink: 0;
    background-color: #dddddd;
    margin: 10px;
    padding: 10px;
}

#img-container {
    height: 80%;
    img {
        height: 100%;
    }
}


/* GALLERY */

#wrapper {
    width: 500px;
}
#gallery {
    width: 40vw;
    margin-right: 5vw;
    overflow: hidden;
    background-color: #aaaaaa;
    padding: 10px;
}

#gallery-content {
    display: flex;
    transition: transform 0.3s ease;
}

/* ART */
#art {
    display: flex;
}

