#notebooks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#traditional-art #notebook {
    background-color: lavender;
}

#digital-art #notebook {
    background-color: aquamarine;
}