@import "../App.css";

#item {
    img {
        height: auto;
        width: 80%;
        margin-top: 20px;
    }

    a:hover {
        color: purple;
    }

    p {
        margin: 10px;
    }

    background-color: #f0f0f0;
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
}

#name {
    font-weight: bold;
}

#desc {
    opacity: 0.3;
    text-align: left;
    padding: 2% 10% 0% 10%;
}

#page {
    width: 425px;
    padding: 5%;
    height: 550px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: url(../assets/whitepaper.jpg);
}

#wrapper {
    width: 425px;
    overflow: hidden;
}

#notebook {
    margin: 0px 50px 50px 0px;
    overflow: hidden;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#notebook-content {
    display: flex;
    transition: transform 0.3s ease;
}

#header {
    width: 100%;
    display: flex;
    position: relative;
    padding-bottom: 10px;

    h2 {
        float: left;
        margin: 0px;
    }

    button {
        margin: 5px;
        border: none;
        height: 20px;
    }
}

#buttons {
    position: absolute;
    right: 0;
}
