.App {
  padding-left: 20px;
  padding-right: 20px;
}

#art-page {
  display: flex;
}

#icon {
  margin: 5px;
  width: 100px;
  position: relative;

  img {
    height: 50px;
  }
}

.bold-icon {
  background-color: white;
  font-weight: bold;
}

#menu {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  position: relative;
  background-color: #ddd;
  margin-top: 5px;
  margin-bottom: 20px;

  p {
    position: absolute;
    top: 0px;
  }
}

#main {
  img {
    height: 300px;
  }
}

#create {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

:root {
  --s05: rgb(255, 136, 255);
  --s1: rgb(255, 135, 155);
  --s15: rgb(255, 169, 138);
  --s2: rgb(255, 212, 133);
  --s25: rgb(255, 221, 135);
  --s3: rgb(255, 255, 132);
  --s35: rgb(214, 255, 132);
  --s4: rgb(138, 255, 138);
  --s45: rgb(127, 255, 255);
  --s5: rgb(133, 133, 255);
}



