.App {
  padding-left: 20px;
  padding-right: 20px;
}

#art-page {
  display: flex;
}

#icon {
  margin: 5px;
  width: 100px;
  position: relative;

  img {
    height: 50px;
  }
}

.bold-icon {
  background-color: white;
  font-weight: bold;
}

#menu {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  position: relative;
  background-color: #ddd;
  margin-top: 5px;

  p {
    position: absolute;
    top: 0px;
  }
}

#main {
  img {
    height: 300px;
  }
}

:root {
  --s1: pink;
  --s2: orange;
  --s3: yellow;
  --s4: lime;
  --s5: aqua;
}



