.App {
  padding: 20px;
}

#icon {
  border: 3px grey solid;
  margin: 10px;
  width: 100px;
}

#menu {
  display: flex;
  flex-direction: row;
  margin: 20px;
  position: relative;
  background-color: #aaa;

  p {
    position: absolute;
    top: 10px;
  }

  img {
    height: 50px;
  }
}

#main {
  img {
    height: 300px;
  }
}

#menu, #main {
  margin: 10px;
}

:root {
  --s1: pink;
  --s2: orange;
  --s3: yellow;
  --s4: lime;
  --s5: aqua;
}



